<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Transcriber App</h2>
    <h3>Convert voice to text and text to voice</h3>
    <a href="/smoothies" class="btn">View Services</a>
  </div>
</header>


<%- include('partials/footer'); -%>