<%- include('partials/header'); -%>
<div style="text-align: center;"></div>
<ul class="recipes">

  <li class="recipe">
    <img src="/services.png" alt="Audible">
    <h4>Personal storyteller</h4>
    <p>Why pay for audible just use this personal story teller and enjoy</p>
  </li>
  <li class="recipe">
    <img src="/services.png" alt="Orator">
    <h4>Orator</h4>
    <p>Practice your own speeches here it will print you a transcript</p>
  </li>
 
</ul>

<%- include('partials/footer'); -%>