<%- include('partials/header'); -%>
<div style="text-align: center;"></div>
<ul class="recipes">

  <li class="recipe">
    <img src="/services.png" alt="Audible">
    <h4>Audible</h4>
    <p>Why pay for audible just use this personal story teller and enjoy</p>
    <a href='/audible' class="btn">click here to use audible...</a>
  </li>
  <li class="recipe">
    <img src="/orator.png" alt="Orator" style="margin-top:-45px">
    <h4>Orator</h4>
    <p>Practice your own speeches here it will print you a transcript</p>
      <a href='/orator' class="btn">click here to use orator...</a>
  </li>
 
</ul>

<%- include('partials/footer'); -%>